body{
    font-family:Arial, Arial, Helvetica, sans-serif;
}

h2{
    font-size:1.4em;
    font-family:Arial, Helvetica, sans-serif;
    color:#888889;
    background-color:transparent;
    width:auto;
    right:30px;        
}

h3{
    font-size:1.5em;
    color:#ffffff;
    padding-left:5px;
    display:block;
}

#editHeaders{
    margin-left:140px;    
}

#editToggles{
    margin-left:100px;
}

#DBE{
    right:5px;
}

#subNavigationBar{
    margin-left:5px;
    background-color:#2b4b83;
    z-index:1;
    height:250px;    
    width:161px;
}

#submenu_subNavi a{    
    color:#2b4b83;
    background:white;
    padding-right:9px;
    padding-left:5px;
    margin-left:5px;
}

#submenu_subNavi a.selected{
    color:white;
    background:#2b4b83;
    border:solid;
    font-weight:bold;
}

#submenu_subNavi a:hover{
    color:white;
    background-color:#353535;
}

#submenuview{
    position:fixed;
    margin-top:0px;
    width:180px;
    background-color:#353535;
    z-index=0;
}

.viewer{
    width:100%;
    background-color:#fff;
    margin:5px 0 10px 0;
    margin-left:70px;
    border:solid 1px #525252;
    border-collapse:collapse;
    text-wrap:avoid;
}
.viewer th{
    background-color:#2b4b83;
    font-weight:bold;
    color:white;
    text-align:center;
}

.viewer .detailheader {
    font-weight:normal;    
    background-color:#2b4b83;
    color:white;
}
.viewer .detailfieldheader{
    width:35%;
}
.viewer td{
    padding:10px;
    border:solid 1px #c1c1c1;
    color:#717171;
    text-align:left;
}
.viewer .alternatingRow{    
    background:#fcfcfc;
}